.budget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
}

.input {
    text-align: center;
    font-size: 1.5rem;
    width:  120px;
    margin: 10px 20px;
    border-radius: 5px;
    border: solid 1px black;
}