.total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
    width: 55vw;
}

.total-expenses,
.money-left {
    text-align: start;
    font-size: 1.5rem;
    min-width:  400px;
}

@media only screen and (max-width: 850px) {
    .total{
        flex-direction: column;
        padding: 00px 0px 20px 0px;
    }

    .total-expenses,
    .money-left {
        margin: 10px 20px;
    }
}

@media only screen and (max-width: 410px) {
    .total {
        width: 95vw;
        align-items: start;
        padding-left: 10px;
    }

    .total-expenses,
    .money-left  {
        min-width: auto;
        margin: 10px 0px;
    }
}