.total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
    width: 55vw;
}

.total-expenses,
.money-left {
    text-align: start;
    font-size: 1.5rem;
    width:  350px;
}