.app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: aliceblue;
    min-height: 100vh;
}

.app header {
    text-align: center;
    padding: 20px;
    background-color: rgb(14, 119, 199);
    font-size: 1.3rem;
    width: 100%;
  }