.expensesList {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

.expense {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    padding: 10px 0px;
}

.name, .type, .amount, .total {
    width: 25%;
    text-align: center;
}

.x {
    color: red;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    padding-bottom: 5px;
}

.x:hover {
    cursor: pointer;
    color:brown;
}

@media only screen and (max-width: 900px) {
    .expense{
        width: 95vw
    }
}

@media only screen and (max-width: 700px) {
    .expense{
        font-size: 1rem;
        padding: 5px 0px;
    }
}